.container {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.box {

    background-color: lightgrey;
    padding: 2vw 5vw;
}


input[type=range] {
    -webkit-appearance: none;
    /* -moz-appearance: none; */
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.unclicked::-webkit-slider-thumb {
    opacity: 0
}

.unclicked::-moz-range-thumb {
    opacity: 0
}


.clicked::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: black;
    cursor: pointer;
}

/* .clicked::-moz-range-thumb {
    -moz-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: black;
    cursor: pointer;
} */